.container {
  display: flex;
  flex-direction: column;
}
label {
  background-color: rgb(255, 255, 255);
  border: solid 4px #1eaae7;
  border-radius: 10px;
  color: #1eaae7;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 3px 5px;
  cursor: pointer;
  width: 110px;
  height: 40px;
}
