.wrapper {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  z-index: 1002;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  justify-items: center;
}
.hidden {
  visibility: hidden;
}

.loader-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color:rgba(0,0,0,0.5);
  top: 0;
  z-index: 1109;
}

.dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  padding-top: 0.755em;
}
.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
}


