<app-top-bar></app-top-bar>
<app-side-bar></app-side-bar>

<div class="content-body">
  <div class="container-fluid">
    <div class="form-head mb-4">
      <h2 class="text-black font-w600 mb-0">Search</h2>
    </div>
    <div class="page-titles">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Type any words in the search to query report. </a></li>
        &nbsp;&nbsp;&nbsp;
        <li class="active">
          <div class="input-group mb-6">
            <input type="text" name="search_filter" class="form-control" placeholder="Search for record">
            <button class="btn btn-warning" type="button">Search</button>
          </div>
        </li>
      </ol>
    </div>

    <!-- when the search return result then this table will show and display the result details  -->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h6 class="card-title">Search result found 20 record matches</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table header-border table-responsive-sm">
              <thead>
                <tr>
                  <th>TID</th>
                  <th>User</th>
                  <th>Amount</th>
                  <th>Status</th>
                  <th>Date Posted</th>
                  <th>Transaction Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="javascript:void(0)">Order #26589</a>
                  </td>
                  <td>Herman Beck</td>

                  <td>$45.00</td>
                  <td><span class="badge badge-success">Paid</span>
                  </td>
                  <td><span class="text-muted">Oct 16, 2017</span>
                  </td>
                  <td><span class="text-muted">Oct 16, 2017</span>
                  </td>
                </tr>
                <tr>
                  <td><a href="javascript:void(0)">Order #58746</a>
                  </td>
                  <td>Mary Adams</td>

                  <td>$245.30</td>
                  <td><span class="badge badge-info light">Shipped</span>
                  </td>
                  <td><span class="text-muted">Oct 12, 2017</span>
                  </td>
                  <td><span class="text-muted">Oct 16, 2017</span>
                  </td>
                </tr>
                <tr>
                  <td><a href="javascript:void(0)">Order #98458</a>
                  </td>
                  <td>Caleb Richards</td>

                  <td>$38.00</td>
                  <td><span class="badge badge-danger">Shipped</span>
                  </td>
                  <td><span class="text-muted">May 18, 2017</span>
                  </td>
                  <td><span class="text-muted">Oct 16, 2017</span>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>
