<app-top-bar></app-top-bar>
<app-side-bar></app-side-bar>
<div class="content-body">
  <div class="container-fluid">
    <div class="form-head mb-4">
      <h2 class="text-black font-w600 mb-0">Search</h2>
    </div>
    <div class="page-titles">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Type any words in the search to query report. </a></li>
        &nbsp;&nbsp;&nbsp;
        <li class="active">
          <div class="input-group mb-6">
            <input type="search" name="searchTerm" [(ngModel)]="searchName.searchTerm" class="form-control"
              placeholder="Search for record">
            <button class="btn btn-primary" type="button" (click)="productSearch()">Search</button>
          </div>
        </li>
      </ol>
    </div>

    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h6 class="card-title">Search result found 20 record matches</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table header-border table-responsive-sm">
              <thead>
                <tr>
                  <th>TID</th>
                  <th>Amount</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngIf="searchName">

                  <td></td>

                  <td></td>
                </tr>
                <!--  -->

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>
