*{

}

body{
  font-family: 'Poppins', sans-serif;
}

.search-box{
  display: block;
  margin: 40px auto 0 auto;
  padding: 10px 20px;
  width: 95%;
}
.search-results{
  max-width: 600px;
  width: 65%;
  margin: 20px auto 0 auto;

}
.pointer{
  cursor: pointer;
}
hr{
    border: none;
    height: 1px;
    background-color: lightgray;
  }
  p{
    margin: 10px 0;
  }

  button, input, select, textarea{
    font-family: inherit;
    font-size: 100%;
  }
