<app-top-bar></app-top-bar>
<app-side-bar></app-side-bar>


<div class="content-body">
  <div class="container-fluid">
    <div class="form-head mb-4">
      <h2 class="text-black font-w600 mb-0">POS Sale</h2>
    </div>
    <div class="page-titles">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Sales of products: Easily Scan product / Type product name / Product
            ID</a>
          &nbsp;&nbsp;&nbsp;</li>
        <li class="active"></li>
      </ol>
    </div>

    <div class="col-lg-12">
      <div class="row">
        <div class="col-xl-6">
          <div class="card">
            <div class="card-body">
              <div class="basic-form">
                <!-- <form (ngSubmit)="searchProduct()" #posForm="ngForm" class="d-flex align-items-center Confirm">
                  <div class="col-xl-9 col-lg-12 mb-9 mx-sm-3 searchContainer">
                    <input type="text" class="form-control" name="search_name" ngModel
                      placeholder="Scan product / Type product name">
                  </div>
                  <button type="submit" class="btn btn-primary Confirm-btn mb-2">Add</button>
                </form>
                <br /><br /> -->
                <input type="text" class="form-control" name="search_name" [(ngModel)]="searchKey"
                  placeholder="Scan product / Type product name" (keyup)="sendData($event)">
                <!-- <div class="input-group transparent-append">
                 <input type="text" class="form-control" placeholder="Choose a safe one.." required="">
                  <span class="input-group-text search_icon show-pass br-style badge badge-danger"
                    *ngIf="product.length > 0 && hasQuery">
                    <a data-bs-toggle="tooltip" data-placement="top" title="Remove"><i class="fas fa-times"></i></a>
                  </span>

                </div> -->


                <div class="mb-9 col-md-9 search-result">
                  <p *ngIf="product.length < 1 && hasQuery">Sorry! Nothing Found.</p>
                  <div *ngFor="let sDatas of product; let i=index">
                    <hr *ngIf="i > 0">
                    <p class="pointer" (click)="selectFromSearch(sDatas)">{{sDatas.product_name}} || Price:
                      {{sDatas.product_sale_price}}</p>
                  </div>

                </div>


              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3">
          <div style="float: right">
            <h2 class="text-black font-w600 mb-0"></h2>
            <h2 class="text-black font-w600 mb-0">G.Total: &#x20A6;{{gTotal | number:'1.2-2'}}</h2>
          </div>
        </div>

      </div>

    </div>

    <!-- <div class="col-lg-12">
      <div class="row">
        <div class="col-xl-6">
          <div class="card">
            <div class="card-body">
              <div class="basic-form">
                <form (ngSubmit)="searchProduct()" #posForm="ngForm" class="d-flex align-items-center Confirm">
                  <div class="col-xl-9 col-lg-12 mb-9 mx-sm-3 searchContainer">
                    <input type="text" class="form-control" name="search_name" ngModel
                      placeholder="Scan product / Type product name" (keyup)="searchProduct()">
                    <ng-container *ngIf="products">

                      <div *ngFor="let p of products">
                        <div>{{p.product_name}}</div>

                      </div>

                    </ng-container>
                  </div>
                  <button type="submit" class="btn btn-primary Confirm-btn mb-2">Add</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3">
          <div style="float: right">
            <h2 class="text-black font-w600 mb-0">G.Total: &#8358;30,000</h2>
          </div>
        </div>

      </div>


    </div> -->

    <br />
    <!-- <ng-template *ngIf="productData.length < 1; else loadingProduct">
      <div class="col-lg-9">
        <div class="table-responsive">
          <div class="page-titles">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Shopping cart is currently empty! Pick product to get started</a>
              </li>
              <li class="active"></li>
            </ol>
          </div>
        </div>
      </div>
    </ng-template> -->

    <div class="col-lg-10">
      <div class="table-responsive" *ngIf="searchProducts.length > 0">
        <form #orderForm="ngForm" (ngSubmit)="processOrderDetails(orderForm.value)">
          <p><b>Item listed list</b></p>
          <table class="table table-bordered verticle-middle table-responsive-sm">
            <thead>
              <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Qty</th>
                <th scope="col">Total</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody *ngFor="let dataItem of searchProducts; let i = index">
              <tr>
                <td><input type="text" name="product_name{{i}}" [(ngModel)]="dataItem.product_name"
                    class="form-control form-control-sm" style="width: 200px;" /></td>
                <td><input type="text" name="product_sale_price{{i}}" [(ngModel)]="dataItem.product_sale_price"
                    class="form-control form-control-sm" style="width: 100px;" /></td>
                <td style="width: 20%;"><input type="text" (keydown.enter)='enterKeySave()'
                    class="form-control form-control-sm" name="product_qty{{i}}" [(ngModel)]="dataItem.product_qty"
                    style="width: 100px;" /></td>
                <td><input type="text" (keydown.enter)='enterKeySave()' class="form-control form-control-sm"
                    name="product_total_amt{{i}}" [(ngModel)]="dataItem.product_sale_price*dataItem.product_qty"
                    [value]="calculateValue(dataItem)" style="width: 100px;" />
                </td>
                <td><span>
                    <a data-bs-toggle="tooltip" data-placement="top" title="Remove" (click)="deleteOrder(dataItem._id)"
                      class="btn btn-danger shadow btn-xs sharp"><i class="fas fa-times"></i></a>
                  </span>
                </td>
              </tr>

            </tbody>
          </table>

          <button type="submit" class="btn btn-primary" style="float: right">Add</button>
          <div class="page-titles">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Please click on the Add button to add the order to cart</a></li>
              <li class="active"></li>
            </ol>
          </div>
        </form>
        <br /><br />
      </div>
    </div>
    <br /><br />
    <br /><br />
    <!-- <div class="col-lg-9">
      <div class="table-responsive">
        <p><b>Item Ordered List</b></p>
        <table class="table table-bordered verticle-middle table-responsive-sm">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Descriptions</th>
              <th scope="col">Amt</th>
              <th scope="col">Qty</th>
              <th scope="col">Total</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td> </td>
              <td></td>
              <td style="width: 20%;"><input type="text" class="form-control form-control-sm" name="poduct_qty"
                  style="width: 100px;" /></td>
              <td><span class="badge badge-dark"></span></td>
              <td><span>

                  <a data-bs-toggle="tooltip" data-placement="top" title="Remove"
                    class="btn btn-danger shadow btn-xs sharp"><i class="fas fa-trash-alt"></i></a>
                </span>
              </td>
            </tr>

          </tbody>
        </table>
        <button type="submit" class="btn btn-danger" style="float: right" (click)="checkOutP()">Check Out</button>
        <div class="page-titles">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Please click on the checkout button to process the order</a></li>
            <li class="active"></li>
          </ol>
        </div>

        <br /><br />

        <br /><br />
        <br /><br />
      </div>
    </div> -->
    <div class="row">
      <div class="col-xl-9 col-lg-9">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Thumb Image Upload</h6>
          </div>
          <div class="card-body">
            <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)" #drop
              [id]="'idtest'" [aria-label]="'al-test'" [aria-labelledby]="'alb-test'">

              <ngx-dropzone-label>Drag image to upload here</ngx-dropzone-label>
              <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                [removable]="true" (removed)="onRemove(f)">
                <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
              </ngx-dropzone-image-preview>
            </div>
            <br>
            <button type="submit" [disabled]="upload_btn == false" (click)="uploadAllImages()" class="btn btn-info"
              style=" float: right">Upload</button>
          </div>
        </div>

      </div>

      <input type="file" name="image" multiple (change)="selectMultipleImage($event)" class="custom-dropzone"
        class="form-control form-control-sm custom-dropzone" [accept]="'image/*'" />


      <button type="submit" (click)="submitMultipleImage()" class="btn btn-primary" style=" float: right">Multiple
        Upload</button>
    </div>
    <!-- <ngx-dropzone #drop [id]="'idtest'" [aria-label]="'al-test'" [aria-labelledby]="'alb-test'"
      (change)="onFilesAdded($event)">
      <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
      <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>
    <br /><br />
    <button (click)="drop.showFileSelector()">Open</button>
    <br /><br />


    <br /><br />
    <ngx-dropzone (change)="onFilesAdded($event)" [multiple]="false">
      <ngx-dropzone-label>Drop it like it's hott!</ngx-dropzone-label>
      <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>

    <br /><br />

    <div class="custom-dropzone" ngx-dropzone [accept]="'image/png'" [expandable]="true"
      (change)="onFilesAdded($event)">
      <ngx-dropzone-label>
        <div>
          <h2>My custom dropzone I</h2>
        </div>
      </ngx-dropzone-label>

      <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
        [removable]="true" (removed)="onRemove(f)">

      </ngx-dropzone-image-preview>
    </div> -->
    <br /><br />
    <br /><br />
    <br /><br />
    <ng-template #loadingProduct>

    </ng-template>










  </div>
</div>