<app-top-bar></app-top-bar>
<app-side-bar></app-side-bar>


<div class="content-body">
  <div class="container-fluid">
    <div class="form-head mb-4">
      <h2 class="text-black font-w600 mb-0">POS Sale</h2>
    </div>
    <div class="page-titles">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Sales of products: Easily Scan product / Type product name / Product
            ID</a>
          &nbsp;&nbsp;&nbsp;</li>
        <li class="active"></li>
      </ol>
    </div>

    <div class="col-lg-12">
      <div class="row">
        <div class="col-xl-6">
          <div class="card">
            <div class="card-body">
              <div class="basic-form">
                <form (ngSubmit)="searchProduct()" #posForm="ngForm" class="d-flex align-items-center Confirm">
                  <div class="col-xl-9 col-lg-12 mb-9 mx-sm-3 searchContainer">
                    <input type="text" class="form-control" name="search_name" ngModel
                      placeholder="Scan product / Type product name" (keyup)="searchProduct()">
                    <ng-container *ngIf="products">
                      <div *ngFor="let p of products">
                        <div>{{p.product_name}}</div>
                      </div>
                    </ng-container>
                  </div>
                  <button type="submit" class="btn btn-primary Confirm-btn mb-2">Add</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3">
          <div style="float: right">
            <h2 class="text-black font-w600 mb-0">G.Total: &#8358;30,000</h2>
          </div>
        </div>

      </div>


    </div>

    <br /><br /><br />
    <!-- <ng-template *ngIf="productData.length < 1; else loadingProduct">
      <div class="col-lg-9">
        <div class="table-responsive">
          <div class="page-titles">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Shopping cart is currently empty! Pick product to get started</a>
              </li>
              <li class="active"></li>
            </ol>
          </div>
        </div>
      </div>
    </ng-template> -->
    <div class="col-lg-9">
      <div class="table-responsive">
        <table class="table table-bordered verticle-middle table-responsive-sm">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Descriptions</th>
              <th scope="col">Amt</th>
              <th scope="col">Qty</th>
              <th scope="col">Total</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td> </td>
              <td></td>
              <td style="width: 20%;"><input type="text" class="form-control form-control-sm" name="poduct_qty"
                  style="width: 100px;" /></td>
              <td><span class="badge badge-dark"></span></td>
              <td><span>
                  <!-- <a href="javascript:void()" class="me-4" data-bs-toggle=cartProduct"tooltip" data-placement="top" title="Edit"><i
                      class="fas fa-pencil-alt color-muted"></i> </a> -->
                  <a data-bs-toggle="tooltip" data-placement="top" title="Remove"
                    class="btn btn-danger shadow btn-xs sharp"><i class="fas fa-trash-alt"></i></a>
                </span>
              </td>
            </tr>

          </tbody>
        </table>
        <button type="submit" class="btn btn-danger" style="float: right">Check Out</button>
        <div class="page-titles">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Please click on the checkout button to process the order</a></li>
            <li class="active"></li>
          </ol>
        </div>

        <br /><br />
      </div>
    </div>
    <ng-template #loadingProduct>

    </ng-template>










  </div>
</div>