<app-top-bar></app-top-bar>
<app-side-bar></app-side-bar>

<div class="content-body">
  <div class="container-fluid">
    <div class="page-titles">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Dynamic Input Form</a></li>
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Input Element</a></li>
      </ol>
    </div>

    <!-- row -->
    <div class="row">

      <div class="col-xl-6 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Invoice Processing Form</h4>
          </div>
          <div class="card-body">
            <div class="basic-form">
              <form [formGroup]="userForm">
                <div class="row">
                  <div class="mb-3 col-md-6">
                    <label class="form-label">Customer Name</label>
                    <input type="text" class="form-control" name="customer_name" formControlName="customer_name"
                      placeholder="Customer Name">
                    <!-- <small *ngIf="userForm.get('fname').errors?.['required']">
                      First Name is required
                    </small> -->
                  </div>
                  <div class="mb-3 col-md-6">
                    <label class="form-label">Customer Address</label>
                    <input type="text" class="form-control" name="customer_address" formControlName="customer_address"
                      placeholder="Customer Address">
                  </div>
                  <div class="mb-3 col-md-6">
                    <label class="form-label">Customer Email</label>
                    <input type="email" class="form-control" name="cutomer_email" formControlName="customer_email"
                      placeholder="Customer Email">
                  </div>
                  <div class="mb-3 col-md-6">
                    <label>Customer Phone</label>
                    <input type="text" class="form-control" name="customer_phone" formControlName="customer_phone"
                      placeholder="Phone">
                  </div>
                </div>
              </form>

              <small class="text-danger">Dynamically add new order details <span class="badge badge-primary"
                  style="cursor: pointer; float: right;" (click)="addMoreForm()"><i class="fa fa-plus text-white"></i>
                  Add</span></small>
              <br /><br />
              <div class="row">
                <div>
                  <div class="row" *ngFor="let obj of dataarray; let i=index">
                    <div class="mb-3 col-md-3">
                      <label class="form-label">Order Name</label>
                      <input type="text" class="form-control" name="order_name{{i}}" [(ngModel)]="obj.order_name"
                        placeholder="Order Name"
                        (keyup)="obj.order_name.length > 25 && validationMessage('order name should be less than 25 characters')">
                      <!-- <div *ngIf='obj.order_name.length >7' class="text-danger">order name must be 7 letter
                      </div> -->
                    </div>
                    <div class="mb-2 col-md-2">
                      <label class="form-label">Price</label>
                      <input type="number" class="form-control" name="order_amt{{i}}" [(ngModel)]="obj.order_amt"
                        placeholder="Price"
                        (keyup)="obj.order_amt < 5 && validationMessage('order price less than $5')">
                    </div>

                    <div class="mb-2 col-md-2">
                      <label class="form-label">Qty</label>
                      <input type="number" class="form-control" name="order_qty{{i}}" [(ngModel)]="obj.order_qty"
                        placeholder="Qty"
                        (keyup)="obj.order_qty > 10 && validationMessage('order qty greater than 10')">
                    </div>
                    <div class="mb-2 col-md-2">
                      <label class="form-label">Total</label>
                      <input type="number" class="form-control" name="order_total{{i}}" [(ngModel)]="obj.order_total"
                        [value]=obj.order_amt*obj.order_qty placeholder="Total">
                    </div>
                    <div class="mb-3 col-md-3" *ngIf="i!=0">
                      <span (click)="removeFields(i)" class="badge badge-danger" style="cursor: pointer;"><i
                          class="fa fa-times text-white"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary" (click)="onsubmit()">Save Record</button>

            </div>
          </div>
        </div>
      </div>

      <!-- <div class="col-xl-6 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Invoice Processing Form</h4>
          </div>
          <div class="card-body">
            <div class="basic-form">
              <form (ngSubmit)="onsubmit()">
                <div class="row">
                  <div class="mb-3 col-md-6">
                    <label class="form-label">Customer Name</label>
                    <input type="text" class="form-control" name="customer_name" [(ngModel)]="home.customer_name"
                      placeholder="Customer Name">

                  </div>
                  <div class="mb-3 col-md-6">
                    <label class="form-label">Customer Address</label>
                    <input type="text" class="form-control" name="customer_address" [(ngModel)]="home.customer_address"
                      placeholder="Customer Address">
                  </div>
                  <div class="mb-3 col-md-6">
                    <label class="form-label">Customer Email</label>
                    <input type="email" class="form-control" name="cutomer_email" [(ngModel)]="home.cutomer_email"
                      placeholder="Customer Email">
                  </div>
                  <div class="mb-3 col-md-6">
                    <label>Customer Phone</label>
                    <input type="text" class="form-control" name="customer_phone" [(ngModel)]="home.customer_phone"
                      placeholder="Phone">
                  </div>
                </div>
                <div>
                  <div class="mb-3 col-md-3">

                  </div>
                </div>
                <small class="text-danger">Dynamically add new order details <span class="badge badge-primary"
                    style="cursor: pointer; float: right;" (click)="addMoreForm()"><i class="fa fa-plus text-white"></i>
                    Add</span></small>
                <br /><br />
                <div class="row">
                  <div>
                    <div class="row" *ngFor="let obj of dataarray; let i=index">
                      <div class="mb-3 col-md-3">
                        <label class="form-label">Order Name</label>
                        <input type="text" class="form-control" name="order_name{{i}}" [(ngModel)]="obj.order_name"
                          placeholder="Order Name">

                      </div>
                      <div class="mb-2 col-md-2">
                        <label class="form-label">Price</label>
                        <input type="text" class="form-control" name="order_amt{{i}}" [(ngModel)]="obj.order_amt"
                          placeholder="Price">
                      </div>

                      <div class="mb-2 col-md-2">
                        <label class="form-label">Qty</label>
                        <input type="text" class="form-control" name="order_qty{{i}}" [(ngModel)]="obj.order_qty"
                          placeholder="Qty">
                      </div>
                      <div class="mb-2 col-md-2">
                        <label class="form-label">Total</label>
                        <input type="text" class="form-control" name="order_total{{i}}" [(ngModel)]="obj.order_total"
                          placeholder="Total">
                      </div>
                      <div class="mb-3 col-md-3" *ngIf="i!=0">
                        <span (click)="removeFields(i)" class="badge badge-danger" style="cursor: pointer;"><i
                            class="fa fa-times text-white"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Save Record</button>
              </form>
            </div>
          </div>
        </div>
      </div> -->

    </div>
  </div>
</div>
<app-footer></app-footer>